/*Codigo que modifica el Header */
header {
    position: fixed;
    background-color: #15af48;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
    margin: 0px;

}

/*Codigo que modifica la navbar  */

#header_nav {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 1px;

}

#header_p1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 5vh;
    background-color: black;
    margin-top: 0;
    left: 1px;
    gap: 10px;
}

/* Lista de la navbar */
li {
    text-decoration: none;
    list-style: none;
}


/* Ajustes de la imagen de la navbar */

#logoNavBar {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}



/* Codigo de los botones de la navbar */


.btnNav {
    width: 5cm;
    height: 20px;
    margin-right: 2cm;
    background: #1b693a;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 0.1cm;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: white;
}


.btnNav:hover {
    background-color: #2e8a4d;
}




/*Codigo que modifica el body */
body {
    background-color: #4cae4f;
    left: 0px;
    margin: 0px;

}



/* Modifica los titulos de las secciones  */
h2 {
    text-align: center;
}



/* Clase de las secciones  */
.secciones {

    margin: 0px;
    margin-top: 100px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #8bc34b;
    justify-content: center;
    padding-top: 50px;
    display: flex;
    position: relative;
    z-index: -1;

}

/* Clase que da estructura estandar a el contenido de las secciones */
.contenidoSecciones {
    position: absolute;
    width: 10cm;
    height: 10cm;
    top: 3cm;
    display: flex;
    background-color: #c4e0a3;
    border-radius: 5px;
    border: black;
    border-width: 2px;
    border-style: solid;

}

/* Clase que da formato y poscion al texto a un lado de la imagen  */
.sidetext {
    color: red;
    height: 5cm;
    width: 5cm;
    left: 1cm;
    top: 2cm;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    margin: 10px;
    padding: 10px;
    border-left: lightblue;

}

/* Formato de la imagen que acompaña el texto */
.imagenesSecciones {
    background-color: #15af48;
    height: 5cm;
    width: 5cm;
    float: right;


}


/* Cambiar esto para que todas las img de las secciones se 
ajusten a un objeto y esto pase a ser una clase   */
#imgSobreMI {
    width: 100%;
    height: 100%;
    object-fit: flil;
}



/*Codigo que modifica el Footer */
footer {
    background-color: #15af48;
    text-align: center;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 500px;

}

/*Codigo que modifica los links y iconos de las redes  */
#redes {
    border-style: inset;
    border-color: black;
    border-width: 3px;
    width: 50%;
    position: static;


}


/*Codigo que modifica los iconos de las redes  */
.icons {
    width: 20px;
    bottom: 0px;

}